{{#link-to 'article-detail' article.id}}
<div class="col-sm-4">
  <div class="clipTileText">
    <h4>{{article.title}}</h4>
    <h5>by {{article.author}}</h5>
  </div>
  <img src={{article.image}} class="img-responsive">
</div>
{{/link-to}}
