<div class="container">
  <nav class="navbar navbar-default navbar-fixed-top">
    <i class="fa fa-bars navbar-text navbar-left" aria-hidden="true"></i>
    <h1 class="navbar-text navbar-left">BUSTLE</h1>
    <ul class="nav navbar-nav navbar-right">
      <li> </li>
      <li><i class="fa fa-facebook navbar-text " aria-hidden="true"></i></li>
      <li><i class="fa fa-twitter navbar-text" aria-hidden="true"></i></li>
      <li><i class="fa fa-pinterest-p navbar-text" aria-hidden="true"></i></li>
      <li><i class="fa fa-instagram navbar-text" aria-hidden="true"></i></li>
      <li><i class="fa fa-search navbar-text" aria-hidden="true"></i></li>
    </ul>
  </nav>
</div>
<div class="container">
  <div class="col-md-6 col-md-offset-3 body">
    {{outlet}}
  </div>
</div>
