<div class="row">
  {{#each model as |article|}}
    {{#if article.isClip}}
      {{clip-tile article=article}}
    {{/if}}
  {{/each}}
</div>
{{#each model as |article|}}
  {{#if article.isFeatured}}
    {{feature-tile article=article}}
  {{/if}}
{{/each}}
<div class="todayHeader">
  <h2><span class="todayTitle">Today's Top News</span> <span class="currentDate">{{moment-format (now) 'LL'}}</span></h2>
</div>

{{#each model as |article|}}
  {{#unless article.isClip}}
    {{#unless article.isFeatured}}
      {{article-tile article=article}}
    {{/unless}}
  {{/unless}}
{{/each}}
